{% extends 'imgag/base.html' %}
{% load staticfiles %}
{% block title_block %}
	About
{% endblock %}

{% block body_block %}
	<div>
		<h1>About Us</h1>
			<p>
	       Imgag is quite possibly the greatest image sharing website ever conceived. It's users may share images and videos,
		   and rate them according to their greatness. By using an ingenious algorithm (score = upvotes - downvotes) we can 
		   assure our users they will only see the BEST images and videos from across the world.
		   <p>
		   <p>
		   In the unlikely event our algorithm does not show the best images possible, we also offer categories, so Imgag's users
		   may see exactly what they desire.
		   <p>
		   <p>
		   Users are incentivised to upload incredible images indefinitely, as they will see their score increase as people rate their uploaded images.
		   <p>
	</div>	
{% endblock %}
