{% extends 'imgag/base.html' %}
{% load staticfiles %}
{% block title_block %}
	About
{% endblock %}

{% block body_block %}
	<div class="container w3-padding-32">
	<a href="{% url 'home' %}"> <img src="{% static 'css/logo.svg' %}" class="w3-round" style="height:100px" alt="Imgag" href="{% url 'home' %}"> </a>
	<h1>About Us</h1>
	<p> Imgag is quite possibly the greatest image sharing website ever conceived. It's users may share images and videos, and rate them according to their greatness. By using an ingenious algorithm (score = upvotes - downvotes) we can assure our users they will only see the BEST images and videos from across the world. </p>
	<p> In the unlikely event our algorithm does not show the best images possible, we also offer categories, so Imgag's users may see exactly what they desire. </p>
	<p> Users are incentivised to upload incredible images indefinitely, as they will see their score increase as people rate their uploaded images. </p>
	<br>
	<h1>Meet The Dank Team</h1>
	<br>
	
	<div class="row">
		<div class="col s3">
			<div class="w3-card-12" style="height:570px"> <img src="{% static 'imgag/andrew.svg' %}" style="height:260px">
				<div class="w3-container w3-center">
					<h1>Andrew Mcnab</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt aliqua got glasses for the accurate picture. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</div>
		</div>
		<div class="col s3">
			
				<div class="w3-card-12" style="height:570px"> <img src="{% static 'imgag/archit.svg' %}" style="height:270px">
					<div class="w3-container w3-center">
						<h1>Archit Gupta</h1>
						<p>संस्थान गोपनीयता बलवान विषय भोगोलिक सोफ़्टवेर ध्वनि संभव नाकर विकास प्रव्रुति प्राधिकरन चिदंश शुरुआत अत्यंत वैश्विक लिए। ७०है मजबुत गुजरना अनुवाद निर्माण होगा दर्शाता शारिरिक हमारि पुर्व मानसिक वास्तविक कारन उपेक्ष यायेका व्रुद्धि हैं। सदस्य व्यवहार दस्तावेज करती समाजो उनका लक्ष्य पहोचने लाभान्वित विश्व लचकनहि प्राप्त
</p>
					</div>
				</div>
			
		</div>
		<div class="col s3">
			
				<div class="w3-card-12" style="height:570px"> <img src="{% static 'imgag/dan.svg' %}" style="height:270px">
					<div class="w3-container w3-center">
						<h1>Dan Šmolík</h1>
						<p>Ať porušil-li nevyužije úkonů uživatelům 50 výhradně 23 zhotoví, dobu auditorem prvotnímu závažný dotčeny splněna třeba mzda hlavní přiměřenou učiní pravé hromadných. Správce jejich zařízení fáze zástupcem časový nebyly či orgánu vklad stavby jednou. </p>
					</div>
				</div>
			
		</div>
		<div class="col s3">
			
				<div class="w3-card-12" style="height:570px"> <img src="{% static 'imgag/petr.svg' %}" style="height:270px">
					<div class="w3-container w3-center">
						<h1>Petr Šrámek</h1>
						<p>Středníkem ně tuto 9 sdružující něž příslušných a má a oznámit vyjádření. 7 zisku postoupení přístrojem tom, 107 sloužit tj. poskytnuté 104 řídící neplatí hospodářský způsobům kalendářního fáze ně formu díla vážných dostane zpřístupněním nestanoví toto
</p>
					</div>
				</div>
			
		</div>
	</div>
</div>
{% endblock %}
