<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 {% load staticfiles %}
 {% load imgag_template_tags %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title> Imgag: The most awesome images on the Internet
	</title>
	<meta name="viewport" content="width=1138">
	<meta name="keywords" content="images, funny, image host, image sharing, reaction gif, viral images, current events, cute, visual storytelling, gif">
	<meta name="description" content="Imgag is quite possibly the greatest image sharing website ever conceived. It's users may share images and videos, and rate them according to their greatness. By using an ingenious algorithm (score = upvotes - downvotes) we can assure our users they will only see the BEST images and videos from across the world.">

	<meta name="copyright" content="Copyright 2017 Imgag, Inc.">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge;">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<link rel="icon" href="{% static 'imgag/favicon.svg' %}">
	<link rel="stylesheet" type="text/css" href="//s.imgur.com/min/global.css?1489087397" />
    <link rel="stylesheet" type="text/css" href="//s.imgur.com/min/gallery.css?1489087397" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/imgag.css' %}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
	<link rel="prefetch" href="http://tpc.googlesyndication.com/safeframe/1-0-6/html/container.html">
	{% block head_block %}{% endblock%}
	
<script type="text/javascript">
        function searchToggle(obj, evt){
            var container = $(obj).closest('.search-wrapper');

            if(!container.hasClass('active')){
                  container.addClass('active');
                  evt.preventDefault();
            }
            else if(container.hasClass('active') && $(obj).closest('.input-holder').length == 0){
                  container.removeClass('active');
                  // clear input
                  container.find('.search-input').val('');
                  // clear and hide result container when we press close
                  container.find('.result-container').fadeOut(100, function(){$(this).empty();});
            }
        }

        function submitFn(obj, evt){
            value = $(obj).find('.search-input').val().trim();
			url = $(obj).attr('succeedurl').val();

            _html = "Yup yup! Your search text sounds like this: " + url;
            if(!value.length){
                _html = "Yup yup! Add some text friend :D";
            }
            else{
                $.post(url,{value : value});
				$(obj).find('.result-container').html('<span>' + url + '</span>');
            }

            $(obj).find('.result-container').html('<span>' + _html + '</span>');
            $(obj).find('.result-container').fadeIn(100);

            evt.preventDefault();
        }
		 $('.collapsible').collapsible({
    accordion: false, // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    onOpen: function(el) { alert('Open'); }, // Callback for Collapsible open
    onClose: function(el) { alert('Closed'); } // Callback for Collapsible close
  });
        </script>
</head>

<body class="">
	<div id="drop-layer"></div>
		<div id="topbar">
			<div class="header-center">
			<div class="dropdown">
			<a href="{% url 'home' %}">
			<button class="dropbtn"></button>
			</a>
			  <div class="dropdown-content1">
                    <a href="{% url 'about' %}">About Imgag</a>
                    <a href="http://help.Imgag.com/hc/en-us">need help?</a>
			  </div>
			</div>
			
			<div class="dropdown">
			 <button class="dropbtn2">Categories</button>
			 <div class="dropdown-content1">
			  <div class="row">
				
			   {% get_category_list %}
			
			 </div>
			 </div>
		   </div>
			<div id="secondary-nav">
				<ul class="nav navbar-nav navbar-right">
				<li class="nav-item">
					   <form onsubmit="submitFn(this, event);" succeedurl="{% url 'search' %}">
							<div class="search-wrapper">
								<div class="input-holder">
									<input type="text" class="search-input" placeholder="Type to search" name="value" id="query" />
									<button class="search-icon" onclick="searchToggle(this, event);"><span></span></button>
								</div>
								<span class="close" onclick="searchToggle(this, event);"></span>
								<div class="result-container">

								</div>
							</div>
						</form>
						</li>
						{% if user.is_authenticated %}
					<li class="nav-item">
					<a class="nav-link" href="{% url 'account' %}">Profile</a>
					</li>
					{% else %}
					<li class="nav-item">
		
					</li>
					<li class="nav-item">
					<a class="nav-link" href="{% url 'registration_register' %}">Sign Up</a>
						</li>
					<li class="nav-item">
					<a class="nav-link" href="{% url 'auth_login' %}">Sign In</a>
				  </li>
				  {% endif %}
				</ul>
			</div>
			<!-- #secondary-nav -->
		</div>
		<!-- .header-center -->
	</div>
	<!-- #topbar -->
	<div id="cta-container-placeholder"></div>
	<div id="cta-lightbox-placeholder"></div>

{% block body_block %}
{% endblock %}
	

</body>

</html>
