<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 {% load staticfiles %}
 {% load imgag_template_tags %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="./Imgag_ The most awesome images on the Internet_files/css" rel="stylesheet">
	<title> Imgag: The most awesome images on the Internet
	</title>
	<meta name="viewport" content="width=1138">
	<meta name="keywords" content="images, funny, image host, image sharing, reaction gif, viral images, current events, cute, visual storytelling, gif">
	<meta name="description" content="Imgag is quite possibly the greatest image sharing website ever conceived. It's users may share images and videos, and rate them according to their greatness. By using an ingenious algorithm (score = upvotes - downvotes) we can assure our users they will only see the BEST images and videos from across the world.">

	<meta name="copyright" content="Copyright 2017 Imgag, Inc.">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge;">

	<link rel="icon" href="{% static 'imgag/favicon.svg' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}" />

	<link rel="canonical" href="http://Imgag.com/">
	<meta property="og:url" content="http://Imgag.com/">

	<link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.Imgag.com/">

	<link rel="prefetch" href="http://tpc.googlesyndication.com/safeframe/1-0-6/html/container.html">
	<script type="text/javascript" charset="utf-8" async="" src="./Imgag_ The most awesome images on the Internet_files/button.5b89bce04f133ec533459161985cf461.js.download"></script>
</head>

<body class="">
	<div id="drop-layer"></div>
		<div id="topbar">
			<div class="header-center">
			<div class="dropdown">
			<a href="{% url 'home' %}">
			<button class="dropbtn"></button>
			</a>
			  <div class="dropdown-content">
                    <a href="{% url 'about' %}">About Imgag</a>
                    <a href="http://store.Imgag.com/">Contact US</a>
					<a href="http://Imgag.com/jobs">we're hiring!</a>
                    <a href="http://help.Imgag.com/hc/en-us">need help?</a>
			  </div>
			</div>
			
			<div class="dropdown">
			 <button class="dropbtn2">Categories</button>
			 <div class="dropdown-content">
			   {% get_category_list %}
			 </div>
		   </div>
			<div id="secondary-nav">
				<ul class="user-nav">
					{% if user.is_authenticated %}
					{% else %}
					          <li class="nav-item">
					<a class="nav-link" href="{% url 'registration_register' %}">Sign Up</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{% url 'auth_login' %}">Sign In</a>
				  </li>
				  {% endif %}
				</ul>
			</div>
			<!-- #secondary-nav -->
		</div>
		<!-- .header-center -->
	</div>
	<!-- #topbar -->
	<div id="cta-container-placeholder"></div>
	<div id="cta-lightbox-placeholder"></div>

 {% block body_block %}
{% endblock %}
	

</body>

</html>
