{% extends 'imgag/base.html' %}
{% load staticfiles %}

{% block head_block %}
<script src="{% static 'js/ajax_next_page.js' %}"></script>
{% endblock%}

{% block body_block %}
<div class="container w3-padding-64 w3-padding-xlarge">
    <div id="imagelist" class="home-gallery">
        <div id="posts" class="posts br5 first-child">
            <div class="outside-loader"></div>
            <div class="cards">
                {% if category %}
                <h1>{{ category.name }}</h1>
                {% if posts %}
                {% for post in posts %}
                <div class="post">
                    <a class="image-list-link" href="{% url 'post' post_hashid=post.hashid %}">
                        {% if not user_can_see_nsfw and post.category == "NSFW" %}
                        <img width="100%" height="100%" src="{{ MEDIA_URL }}default/uploads/nsfw.png"/>
                        {% else %}
                        {% if post.is_video %}
                        <video width="100%" height="100%" autoplay loop muted
                               onclick="this.paused ? this.play() : this.pause();">
                            <source src="{{ post.upload_url }}" type="video/mp4"/>
                        </video>
                        {% else %}
                        <img width="100%" height="100%" src="{{ post.upload_url }}"/>
                        {% endif %}
                        {% endif %}
                        <div class="point-info gradient-transparent-black transition"></div>
                    </a>
                    <div class="hover" style="left:15px;">
                        <p>{{ post.header }}</p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                There are no posts yet. :(
                {% endif %}
                {% else %}
                No such category.
                {% endif %}
            </div>
        </div>
    </div>
    <div>
        {% if page > 1 %}
        <a id="previous_page" style="background-color:#ff7f00"
           class="btn waves-effect waves-light white-text left-align"
           href="{% url 'category' category_name_slug=category.slug page=page|add:-1 %}">
            Previous
            <i class="material-icons right">skip_previous</i>
        </a>
        {% endif %}
        {% if posts|length == 15 %}
        <a id="next_page" style="background-color:#ff7f00" class="btn waves-effect waves-light white-text"
           href="{% url 'category' category_name_slug=category.slug page=page|add:1 %}">
            Next
            <i class="material-icons right">skip_next</i>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}