{% extends 'imgag/base.html' %}
{% load staticfiles %}

{% block body_block %}
<div class="container w3-padding-64">
    <div id="imagelist" class="home-gallery center-align">
        <div id="posts" class="posts br5 first-child">
            <div class="outside-loader"></div>
            <div class="cards">
                {% if categories %}
                {% for category in categories %}
                <div class="post w3-round-large" style="width:250px;height:250px">
                    <a class="image-list-link" href="{% url 'category' category_name_slug=category.slug %}">
                        <h4 align="center" style="color:white;">{{ category.name }}</h4>
                        <img src="{{ category.picture_url }}"/>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% else %}
There are now categories!
{% endif %}
{% endblock %}