<div class="col s4">
    {% if cats %}
        {% for c in cats %}
            {% if c == act_cat %}
                <strong>
                    <a href="{% url 'categories' c.slug %}">{{ c.name }}</a>
                </strong>
            {% else %}
                <a href="{% url 'categories' c.slug %}">{{ c.name }}</a>
            {% endif %}
            <img src="{{ c.picture.url }}" alt="{{ c.name }}" width="150" height="100"/>
		
        {% endfor %}
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
</div>