<div class="row">
    {% if cats %}
        {% for c in cats %}
<div class="col s4">
	<div class="card horizontal">
		<div class="card-content w3-padding-medium center-align" style="width:700px;height:200px">
			<a href="{% url 'category' c.slug %}">{{ c.name }}
			<img src="{{ c.picture.url }}" alt="{{ c.name }}" width="150" height="120"/></a>
           </div>
		   </div>
		 </div>

        {% endfor %}
		 
    {% else %}

        <strong>There are no categories present.</strong>
    {% endif %}
	</div>
