{% extends 'imgag/base.html' %}
{% load staticfiles %}

{% block body_block %}
	<div class="container w3-padding-64 w3-padding-xlarge">
		<div id="imagelist" class="home-gallery">
			<div class="posts br5 first-child">
				<div class="outside-loader"></div>
				<div class="cards">
		{% if posts %}
			{% for post in posts %}
					<div class="post">
						<a class="image-list-link" href="{% url 'post' post_hashid=post.hashid %}">
							{% if post.is_video %}
									<video width="100%" height="100%" autoplay loop muted onclick="this.paused ? this.play() : this.pause();">
										<source src="{{ post.upload_url }}" type="video/mp4" /> </video>
							{% else %}
									<img width="100%" height="100%" src="{{ post.upload_url }}" />
							{% endif %}
							<div class="point-info gradient-transparent-black transition"></div>
						</a>
						<div class="hover" style="left:15px;">
							<p>{{ post.header }}</p>
						</div>
					</div>
			{% endfor %}
		{% else %}
			There are no posts yet. :(
		{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}