{% extends 'imgag/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if header %}
        {{ header }}
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if header %}
        <div>
            <div>
                <h1>
                    {{ header }}
                </h1>
                {% if video %}
                    <video autoplay loop>
                        <source src="{{ upload.url }}" type="video/mp4" />
                    </video>
                {% else %}
                    <img src="{{ upload.url }}" />
                {% endif %}
                <br />

                <form method="post" action="{% url 'vote' post_hashid=hashid users_vote=1 %}">
                    {% csrf_token %}
                    <button type="submit" src="somesrc" alt="Upvotes" /></button>
                    <span>{{ up_votes }}</span>
                </form>
                <form method="post" action="{% url 'vote' post_hashid=hashid users_vote=-1 %}">
                    {% csrf_token %}
                    <button type="submit" src="somesrc" alt="Downvotes" /></button>
                    <span>{{ down_votes }}</span>
                </form>
                <span>By {{ author }}</span>
                <span>Created on {{ posted_date }}</span>
            </div>
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'add_comment' post_hashid=hashid %}">
                    {% csrf_token %}
                    {% for hidden in comment_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in comment_form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}
                        {{ field }}
                    {% endfor %}
                    <input type="submit" value="Post" />
                </form>
            {% endif %}
            <div>
                {% for comment in comments %}
                    <span>{{ comment.author }}</span>
                    <span>{{ comment.created_date }}</span>
                    <textarea disabled>{{ comment.text }}</textarea>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h1>
            There is no such post.
        </h1>
    {% endif %}
{% endblock %}