{% extends 'imgag/base.html' %}
{% load staticfiles %}
{% block title %}
	{{ user.username }} Profile
{% endblock %}

{% block body_block %}
	<div class="page-header">
		<h1>{{selecteduser.username}} Profile</h1>
	</div>
	<form class="dropzone" id="uploadingBox" action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="dropzone-previews"></div>
		<input type="text" name="header" />
	</form>
	<button type="submit" id="submitFile" >UPLOAD</button>
    {% if userprofile.picture %}
    <img src="{{ MEDIA_URL }}{{userprofile.picture }}" width="300" height="300" alt="{{user.username}}" />
    {% else %}
    <img src="http://lorempixel.com/300/300/" img width="300" height="300" alt="{{user.username}}"/>
    {% endif %}
	<br/><br/>
	<div id="profile_data">
		{% if selecteduser.username == user.username %}
    	<form method="post" action="." enctype="multipart/form-data">
    		{% csrf_token %}
    		{{ form.as_p }}
    		<input type="submit" value="Update" />
    	</form>
        {% else %}
		<p><strong>Email:</strong> {{selecteduser.email}}</p>
		<p><strong>Website:</strong> <a href="{{userprofile.website}}">{{userprofile.website}}</a></p>
		{% endif %}
	</div>
	<script src="{% static 'js/dropzone.js' %}"></script>
	<script type="text/javascript">
		Dropzone.options.uploadingBox = {
			maxFileSize : 15,
			paramName : "file",
			clickable : true,
			autoProcessQueue : false,
			maxFiles : 1,
			
			init : function(){
				var dropThis = this;
				var submitting = document.querySelector("#submitFile");
				submitting.addEventListener("click", function() {
					dropThis.processQueue();
					});
			}
		}
	</script>
{% endblock %}
