{% load staticfiles %}
{% load imgag_template_tags %}
@charset "UTF-8";


/* Dropdown Button */
.dropbtn {
	display: block;
	background: url('logo.svg') center center no-repeat;
	width: 100px;
    height: 34px;
    background-size: contain;
	padding: 1px 11px 1px 13px;
	margin-top: 7px;
    border-radius: 20px;
    margin-left: -10px;
    border: none;
    cursor: pointer;
}

.dropbtn2 {
    background-color: #ff7f00;
    color: black;
	width: 100px;
    height: 34px;
    background-size: contain;
	margin-top: 7px;
    border-radius: 20px;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    float: left;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #efefef;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content1 a {
	float: left;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
	
/* Change color of dropdown links on hover */
.dropdown-content1 a:hover {
	background-color: #8a8a8a
	}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content1 {
    display: inline-block;
	
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #50545c;
}
