{% load staticfiles %}
{% load imgag_template_tags %}
@charset "UTF-8";

section {
    display: block
}
body {
    line-height: 1
}
#drop-layer {
    position: fixed;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    display: none
}
#topbar {
    width: 100%;
    background-color: #34373c;
    font-size: 15px;
    height: 50px;
    z-index: 101;
    box-shadow: 0 0 11px 1px #111;
    position: relative;
    top: 0;
}
.header-center {
    width: 1048px;
    margin: 0 auto;
    position: relative
}
#topbar ul {
    list-style: none;
    margin: 0
}
#topbar ul li {
    float: left;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}
#topbar li a.active {
    padding: 16px 12px
}
#topbar .bar {
    width: 18px;
    height: 2px;
    display: block;
    opacity: .9;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    position: relative;
    background-color: #fff;
    margin-bottom: 2px
}
#secondary-nav {
    float: right;
    position: relative;
    margin-right: -15px
}
.user-nav {
    float: left
}
#topbar .signin-link.opened .signin-dropdown {
    display: block
}
.signin-link.opened>a {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none
}
.signin-link #FlipInfo-Container {
    top: 10px
}

/* Dropdown Button */
.dropbtn {
	display: block;
	background: url('logo.svg') center center no-repeat;
	width: 100px;
    height: 34px;
    background-size: contain;
	padding: 1px 11px 1px 13px;
	margin-top: 7px;
    border-radius: 20px;
    margin-left: -10px;
    border: none;
    cursor: pointer;
}

.dropbtn2 {
    background-color: #4CAF50;
    color: white;
	width: 100px;
    height: 34px;
    background-size: contain;
	margin-top: 7px;
    border-radius: 20px;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    float: left;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #efefef;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	float: left;
    color: black;
    padding: 12px 16px;
	margin: auto;
    text-decoration: none;
    display: block;
}
	
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #8a8a8a
	}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #50545c;
}

